
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@body{
    font-family: 'Poppins', sans-serif;

}

* {
    font-family: 'Poppins', sans-serif !important;    
    word-spacing: normal !important;
  }

.top-container{
    background: url("./assets/heroSectionDeskTop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.topnav2{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
}
.landing-heading2{
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 500;
}

.freeTrial {
    height: auto;
    width: 22%;
    margin-left: 18%;
}

.ButtonAndTrial {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 431px) {

    .top-container{
        background: url("./assets/heroSectionMobile.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    .landing-heading2 {
      font-size: 22px !important;
    }

    .landing-header-text-container{
        text-align: center;
            color: #fff;
            padding: 33px !important;
    }

    .primary-landing-button2{
        font-family: 'Poppins', sans-serif;
        font-size: 15px !important;
        font-weight: 500;
        width: 57% !important;
        height: auto
    }
    .freeTrial {
        height: auto;
        width: 50%;
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 0;
    }
    .ButtonAndTrial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
  
.Landing {
    padding: 0px !important;
}

.landing-description2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.primary-landing-button2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.landing-page{
        padding-bottom: 70px;
        overflow-x: hidden;
}

.landing-top-nav{
    position: fixed;
        width: 100%;
        padding: 20px;
        background: #4652b1;
        display: flex;
        justify-content: space-around;
        font-family: 'Poppins';
        z-index: 1;
        align-items: center;
}

.nav-link-text{
    color: white;
    text-decoration: none;
        letter-spacing: 0.2px;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        margin-right: 20px;
        font-family: 'Poppins';

}

.secondary-landing-button{
    border: 1px solid #FFFFFF;
    background: inherit;
    color: #FFFFFF;
            border-radius: 32px;
                padding: 5px 15px 5px 15px;
                width: 100px;
                height: 38px;
                /* margin-top: 10px; */

}

.primary-landing-button{
    background: #FFFFFF;
    color: #0098C9;
        border-radius: 32px;
            padding: 5px 15px 5px 15px;
    border: 1px solid #FFFFFF;
    /* width: 108px; */
    height: 38px;
    font-family: 'Poppins';
}

.nav-actions{
    display: flex;
    gap: 10px;
}

.nav-link-text:hover{
        color: white !important;
        padding-bottom: 5px;
        /* border-bottom: 1px solid #FFFFFF; */
        margin-right: 20px;

        
}

.nav-link-text-active{
    color: white !important;
        padding-bottom: 5px;
        /* border-bottom: 1px solid #FFFFFF; */
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-right: 20px;
        font-family: 'Poppins';

        

}

.landing-header-text-container{
    text-align: center;
        color: #fff;
        padding: 4% !important;
        padding-top: 6% !important;
}

    .WorkFlow2 {
        font-family: 'Poppins', sans-serif;
    }
    .WorkFlow {
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }

@media screen and (max-width: 431px) {
    .landing-header-text-container{
        text-align: center;
        color: #fff;
        padding: 4% !important;
        padding-top: 10% !important;
    }
    .landing-description2{
        font-family: 'Poppins', sans-serif;
        font-size: 12px !important;
        font-weight: 400;
    }
    .FeatureSection {
        font-family: 'Poppins', sans-serif;
        margin-top: 7% !important;
        padding: 4%;
    }
    .WorkFlow2 {
        text-align: center;
    }
    .WorkFlow2 label {
        font-size: smaller !important;
        text-align: center;
    }
    .WorkFlow {
        text-align: center;
        font-size: 22px;
    }
}

.FeatureSection {
    margin-top: 4%;
    padding: 4%;
}

.ModuleSection {
    padding-right: 4%;
    padding-left: 4%;
}

.thumbnail {
    position: relative;
    height: auto; /* Adjust height automatically based on image aspect ratio */
  }
  
  .thumbnail img {
    display: block;
  }
  
  /* The base image (full size) */
  .thumbnail-base {
    width: 100%;
    height: auto; /* Adjust height to preserve the aspect ratio */
    z-index: 1;
  }
  
  /* The second image (slightly smaller and centered on top of the base) */
  .thumbnail-overlay {
    position: absolute;
    top: 50%; /* Center the second image */
    left: 52%;
    transform: translate(-50%, -50%); /* Center it perfectly */
    width: 96%; /* Adjust the size of the second image */
    height: auto; /* Preserve aspect ratio */
    z-index: 2;
  }
  
  /* The play icon (smallest and centered on top of everything) */
  .thumbnail-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%; /* Adjust size for the play icon */
    height: auto; 
    z-index: 3;
    cursor: pointer; /* Shows a pointer cursor */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition on hover */
  }
  
  /* Hover effect for clickable look */
  .thumbnail-play-icon:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Slightly increase the size on hover */
    opacity: 0.8; /* Decrease opacity to give a feedback effect */
  }
  
  /* Optionally add a slight shadow to make it feel clickable */
  .thumbnail-play-icon:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }
  
  
.landing-heading{
        /* font-weight: 650; */
        font-size: 50px;
        text-align: center;
        text-transform: capitalize;
        /* line-height: 1em; */
        margin-top: 3%;
        font-family: 'Coolvetica';
        letter-spacing: 2px;
        line-height: 125%;
        margin-bottom: -15px;                              
}

.landing-description{
        font-size: 16px;
        font-family: 'Poppins';

}

.dashboard-image-container{
            position: inherit;
                width: 100%;
                text-align: center;
                margin-top: -294px;
}

.discover-container {
            text-align: center;
}

.our-customers-container,
.pricing-container,
.faqs-container,
.whats-going-container{
    text-align: center;
}
.our-customers-container > div > div:nth-child(2) > div > .slick-cloned{
    /* width: 500px; */
    /* max-width: 200px; */
}

.landing-primary-heading{
    font-weight: 400;
        font-size: 35px;
        text-transform: capitalize;
        color: #212121;
        margin: 0;
            letter-spacing: 1px;
                padding-top: 85px;
                font-family: 'Coolvetica';

}
.landing-label{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #5F5F5F;
    width: auto;
    font-family: 'Poppins';
    margin-top: 18px;

}

.landing-hrms-roles{
    margin: 10px;
}
.landing-hrms-roles  > div > div {
border: none;
}

.ant-card{
    position: inherit !important;
}

.hrms-roles-name{
    font-size: 700;
        color: #212121;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.005em;
        text-transform: capitalize;
        margin-top: 20px;
        margin-bottom: 12px;
        font-family: 'Coolvetica';

}

.hrms-roles-description{
    font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        color: #616161;
        font-family: 'Poppins';
        width: 80%;
        margin-left: 10%;
        /* text-align: center; */
}

.review_desc{
    width: 120%;
    margin-left: -25px;
    margin-top: 25px;
}
.review_name{
    font-size: 14px;
    color: #757575;
    margin-top: 5px;
}
.slick-prev{
    left: -40px !important;
}
.slick-next {
    right: -60px !important;
}

.slick-slider{
        margin: 20px 300px;
}

.pricing-container{
    background: rgba(0, 152, 201, 0.05);
}

.pricing-list{
    list-style: none;
    padding: 0;
    font-size: 14px;
}
.pricing-list > li {
    /* padding: 10px; */
    line-height: 39px;
}

.pricing-cards{
    display: flex;
        justify-content: center;
            padding: 70px 0px;
            
}

.pricing-card-secondary{
        width: 300px;
        height: 430px;
            background: white;
            padding: 20px;
            border: 1px solid #D1DBE3;
            border-radius: 2px;
            font-family: 'Poppins';
            margin: 0 10%;
            border-radius: 5px;
            /* font-size: 14px; */
            padding-top: 50px;
}
.pricing-card-primary{
    padding: 20px;
    padding-top: 50px;
        width: 300px;
        height: 480px;
        position: absolute;
        color: #fff;
        margin-top: -40px;
        background: #0098C9;
        box-shadow: 0px 20px 40px rgb(0 0 0 / 10%);
        border-radius: 5px;
        font-family: 'Poppins';
        /* font-size: 14px; */
}
.pricing-card-title{
    font-weight: 700;
    font-size: 14px;
    color: #9DAFBD;
}
.pricing-card-package{
    font-weight: 300;
    font-size: 34px;
    color: #0098C9;
    margin: 0;
    margin-top: -12px;
}
.pricing-timeline{
    font-weight: 700;
    font-size: 14px;
    color: #9DAFBD;
    font-family: 'Poppins';
}

.pricing-card-secondary > .secondary-landing-button{
    color: black;
    border: 1px solid #5F5F5F;
    /* width: 170px; */
    margin-top: 7px;
    width: auto;
    font-size: 14px;
    color: #5F5F5F;
    padding: 0 23px;
    }
.pricing-card-primary > .primary-landing-button{
    color: black;
    /* border: 1px solid #5F5F5F; */
    /* width: 170px; */
    margin-top: 7px;
    width: auto;
    font-size: 14px;
    color: #0098C9;
    padding: 0 23px;
    margin-top: 23px;
}
.slick-list{
    /* height: 721px !important; */
    width: 1000px !important;
    /* width: 1240px !important; */
    padding: 76px 0px !important;
    margin: 0px 270px !important;
    /* margin: 0px 140px !important; */
}
.landingModal .ant-modal-content{
    border-radius: 10px !important;
}
.slick-dots > li > button{
    background-color: grey !important;
}
.slick-dots > .slick-active > button{
    background-color: orange !important;
    /* height: 5px !important;
    border-radius: 50px !important; */
}
.slick-slider{
    margin-inline: 100px !important;
}
.slick-dots{
    margin: 25px !important;
    /* margin: 100px !important; */
}
.slick-slide .slick-active .slick-current{
    width: 1000px !important;
    /* width: 1450px !important; */
}

.image-gallery-left-nav{
    padding-left: 7% !important;
}
.image-gallery-right-nav{
    padding-right: 7% !important;
}
.image-gallery-slides{
    padding-inline: 20% !important;
}
.hrLine{
    border: 3px solid #7e8386;
    border-radius: 10px;
    width: 50px;
    margin-left: 39%;
    margin-top: -8px;
}
.hrLine-primary{
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    width: 50px;
    margin-left: 39%;
    margin-top: -8px;
}

.vert-line{
    content: "\275A";
}
.ant-collapse-header{
    position: inherit !important;
}
.ant-collapse-header-text{
    display: inherit !important;
}

.slick-next:before{
    display: none;
}
.slick-prev::before{
    display: none;
}
.slick-slide > div > div{
        width: 70% !important;
}
.faqs-list{
    padding: 70px 230px;
}
.faqs-list > div {
    border: none;
}
.faqs-list > div > div > div {
    border: none;
}
.faqs-list > div {
    width: 78%;
    margin-left: 11%;
}
.faqs-list > div > div > div:nth-child(1) > .ant-collapse-header-text {
    font-weight: 900;
}
.faqs-list > div > div > div:nth-child(2) > div {
    padding: 0;
    margin-left: 4%;
}
.faqs-list > div > div > div:nth-child(1) > span {
    font-size: 16px;
    font-family: 'Poppins';
}
.faqs-list > div > div > div:nth-child(2) > div > p {
    font-size: 14px;
    font-family: 'Poppins';
    color: #757575;
    box-shadow: inset 2px 0px 0px #3563E9;
}

.ant-collapse>.ant-collapse-item{
        background: #fff !important;
}

.ant-collapse{
        /* border-bottom: 1px solid #d9d9d9 !important; */
        border: 0; 
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-header-text{
        font-weight: 400;
}

.faqs-answers{
        text-align: left;
            padding-left: 10px;
            color: rgb(117, 117, 117);
            border-left: 1px solid #0098C9;
            margin-left: 37px;
        
}

.flex-center{
    display: flex;
    justify-content: center;
}
.whats-going-container{
        background: #0098C9;
            width: 75%;
            border-radius: 15px;
            padding: 70px 6%;
}

.whats-going-container-heading{
    color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        font-family: 'Poppins';
}

.whats-going-container-description{
        font-weight: 400;
            font-size: 35px;
            line-height: 58px;
            text-align: center;
            letter-spacing: 0.2px;
            text-transform: capitalize;
            color: #FFFFFF;
            font-family: 'Coolvetica';
}

.whats-going-on{
    margin-bottom: 10%;
}
.whats-going-on-actions{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.whats-going-on-actions > .primary-landing-button{
    width: auto;
    padding: 0 23px;
}


.footer-top{
        display: flex;
        justify-content: center;
        margin: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
}

.footer-top-heading{
        font-weight: 700;
        font-size: 16px;
        color: #212121;
        /* margin-bottom: 0; */
}
.line-footer{
    width: 81%;
    margin-top: 40px;
}

.subscribe-footer{
    background: #EFF3FD;
        padding: 20px 10px 10px 20px;
}

.subscribe-description{
    font-weight: 400;
        font-size: 12px !important;
        line-height: 20px;
        padding-top: 10px;
}

.secondary-text-color{
    color: #9DAFBD;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins';
    margin-bottom: 14px;
}
.footer-bottom{
    display: flex;
        margin: 0 13%;
        margin-top: -60px;
        align-items: center;
        justify-content: space-between;
}
.nav-links.nav-link-text.active Link{
    /* border-bottom: 2px solid white; */
    color: black;
  }
.active{
    /* font-weight: bold; */
    /* border-bottom: 1px solid #FFFFFF; */
    color: white;


}

@media screen and (max-width: 912px) {
    .landing-top-nav > nav{
        display: none !important;
    }

    .landing-header-text-container{
        padding-top: 20%;
    }

    .slick-slider{
        margin: 20px 100px;
    }

    .faqs-list{
        padding: 70px 50px;
    }

        .footer-top{
            margin: 0;
            padding: 0;
            padding-bottom: 50px;
        }

        /* .company-footer{
            display: none !important;
        } */

        .subscribe-footer{
            width: 315px;
        }
} 


@media screen and (max-width: 320px) {
    .landing-heading{
        margin-top: 70px;
    }
    .faqs-list{
       padding: 70px 0px;
    }
}