.sidebar {
  .submenu {
    position: relative;

    .menu-arrow {
      display: inline-block;
      font-family: 'Line Awesome Free';
      text-rendering: auto;
      line-height: 40px;
      font-size: 18px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 18px;
      margin-left: auto;
      position: absolute;
      right: 15px;
      transform: translate(0, 0);
      transition: transform 0.15s ease-in-out;

      &::before {
        content: '\f107';
      }

      &.active {
        transform: rotate(-180deg);
      }
    }

    ul {
      background-color: rgba(#f3f3f3, 0.1);
      border-radius: 0 0 4px 4px;
      padding-left: 34px !important;
      margin-top: 5px;
      transition: all 0.2s ease;

      li {
        padding-left: 10px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 2px;
          width: 5px;
          background-color: currentColor;
          opacity: 0.5;
        }

        a {
          color: inherit;
          display: block;
          padding: 7px 15px;
          position: relative;
          text-transform: capitalize;
          font-size: 14px;

          &:hover {
            color: #ff9b44;
          }
        }

        &.active > a {
          color: #ff9b44;
          font-weight: 500;
        }
      }
    }

    &.active > a {
      color: #ff9b44;
    }
  }
} 